<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Due Date</th>
        <th>Is Completed?</th>
    </tr>
    <tr>
        <td>1</td>
        <td>hello</td>
        <td>23-12-2022</td>
        <td>no</td>
    </tr>
    <tr>
        <td>1</td>
        <td>hello</td>
        <td>23-1-2022</td>
        <td>yes</td>
    </tr>
    
</table>
